#jamal benamors code

import random

loyalty = open('SampleData2017.txt','r') #Reads from the text file "SampleData.txt"

loyalty_lines = loyalty.readlines() #Creates the list loyalty_lines, with each line of the file as one item




def menu():
    choice = input('----------------------------\nWhich option would you like?\n1 = read from file\n2 = write to file\n\t’)
    if choice == '1':
        option_A()
    elif choice == '2':
        option_B()
    else:
        print('that is an invalid choice')
        menu()




	def option_A():
		surname = input("What is your surname?\n:-")
    		year = str(input("What is the year?\n:-"))
        		randnum = random.randint(100,999)
       		letters = surname[0:3]
        		num = year[2:4]
        		member_ID = str(randnum)+letters+num
        		member = open("SampleData2017.txt","a")
       		member.write(member_ID)
        		member.write(",")
    		 member.write(surname)
   		 member.write(",")
  		 member.write(year)
  		 member.write(",")
   		 member.write("Silver")
   		  member.write(",")
   		  member.write("0")
   		  member.write(",")
    		  member.write("0\n")
       		 member.close()

	menu()




	def option_B():
	

		loyalty = open('SampleData2017.txt','r') #Reads from the text file "SampleData.txt"
        loyalty_lines = loyalty.readlines()
        
        memid=input("What is your member ID?\n:-")

		if memid==member_ID:
                
         print (member_ID,"\t ",surname.ljust(20),year_joined.ljust(20),membership_status.ljust(20),"\t",nights_booked.ljust(20),"\t",points_balance.ljust(20))
	menu()




menu()
